/* Builder, Builder sections */

.builder {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
    height: 100svh;
    min-height: 100svh;
}

.builder .navbar {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    background: #d9d9d9;
}

.builder .navbar .course {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.builder .navbar .course .course-image {
    width: 50px;
    height: 30px;
    background: #000;
    margin-right: 0.5rem;
}

.builder .navbar .options {
    display: flex;
    align-items: center;
}

.builder .navbar .options .option {
    margin-right: 0.7rem;
}

.builder .navbar .options .option:last-child {
    margin-right: 0;
}

.builder .navbar .options .option.preview {
    background: #000;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.builder .lessons {
    grid-column: 1 / 3;
}

.builder .lesson-content {
    background-color: #f8f8f8;
    overflow: auto;
    padding: 1rem 2rem 5rem 2rem;
}

.builder .grid-wrapper {
    min-height: 100%;
    margin: 0 auto;
}

.builder .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    transform-origin: top;
    /* gap: 24px; */
}

.builder .grid .preview {
    height: 58px;
    background: #dde6ef;
}

.builder .grid .grid-row {
    display: flex;
    gap: 24px;
}

.builder .grid .grid-column {
    flex-basis: 100%;
    /* margin-bottom: 24px; */
}

@media screen and (min-width: 0px) {

    .grid,
    .grid-wrapper {
        max-width: 480px;
    }
}

@media screen and (min-width: 600px) {

    .grid,
    .grid-wrapper {
        max-width: 960px;
    }
}

@media screen and (min-width: 1024px) {

    .grid,
    .grid-wrapper {
        max-width: 1280px;
    }
}

.builder .sidebar {
    min-width: 15rem;
    background: #343536;
    padding: 1rem;
}

.builder .lesson-content .topbar {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.builder-elements-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.builder-elements-menu .element-wrapper {
    margin-bottom: 0.6rem;
}

.builder-elements-menu .element {
    border: none;
    background: #d7d7d7;
    color: #232323;
    width: 100%;
    height: 2.8rem;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    .builder {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .main {
        order: -1;
    }

    .builder-elements-menu {
        display: inline-grid;
        grid-auto-flow: column;
        gap: 1rem;
    }

    .builder-elements-menu .element {
        margin-bottom: 0;
        padding: 0 1rem;
    }

    .builder .lesson-content {
        grid-column: 1 / 3;
    }
}

/*
*
* ==========================================
* FLIP CARD WITH TEXT
* ==========================================
*
*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    overflow: auto;
}

.image-component {
    display: flex;
}

#transform-scale {
    display: flex;
    align-items: center;
    width: 200px;
    border: 1px solid #d1d1d1;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 15px;
    background: #343536;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.undefined-element {
    background: #ffc107;
    color: #343a40;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-style: dashed;
    border-width: 3px;
}

.undefined-element .message {
    margin: 0 0.5rem;
}

#placement-preview {
    position: absolute;
}

#placement-preview .overlay {
    position: absolute;
    background: #cae4ff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.slide-down {
    animation: slide-down 300ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms, slide-down 300ms;
}

.builder .drag-handle {
    display: flex;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(50%, -50%);
    background: #343536;
    color: #d7d7d7;
    z-index: 1;
    height: 25;
    width: 25;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: grab;
    padding: 0.4rem;
}

.builder .drag-handle-visible {
    position: relative;

    border: 1px solid rgba(0, 0, 0, 0.05);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    margin: -1px;
}

.builder .grid-column.dragging {
    opacity: 0.5;
}

.builder .drag-overlay {
    overflow: hidden;
    background: #f8f8f8;
    opacity: .8;
}